@page
@using roasted1.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model roasted1.Pages.Menus.IndexModel



@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h1 class="display-5">menu</h1>

<div>
    <img class="background" src="~/CoffeeImages/coffee8.jpg" alt="bg image">
</div>


@* if a user is logged in and they are not the Admin, then "proceed to checkout' option on the menu page
is shown to the users as admins would not require 'proceed to checkout' as they are not buying as admins
and it is accessible and easy for the user to click that button if wanting to go to the checkout *@

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin") == false)
    {
        <a class="button1" asp-page="/Checkout/Checkout">Proceed to Checkout</a>
    }
}

@* if the User is Admin then the Create New option is shown for them to add items to the menu *@
@if (User.IsInRole("Admin"))
{
    <p>
        <a class="button1" asp-page="Create">Create New</a>
    </p>
}

@* search bar for the menu *@
<input class="search-bar" type="text" id="myInput" onkeyup="myFunction()" placeholder="search menu..">

<form method="post">
    <table class="table">

        <thead>

        <tr class="text-white">
            <th>Name</th>
            <th>Price</th>
            <th>Info</th>
            <th>Image</th>
            
            @if (User.Identity.IsAuthenticated)
            {
                <th class="right-alignment">Select Item to Add to Cart</th>
            }
        </tr>
        </thead>
        <tbody>
        
        @foreach (var item in Model.Menu)
        {
            <tr class="text-white">
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a class="button" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                </td>
                @{
                    try
                    {<td>
                         <img class="img" src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.ImageData))" alt="@item.ImageDescription"/>
                     </td>
                    }
                    catch
                    {
                        <td>
                            <img class="img" src="~/CoffeeImages/coffee6.jpg" alt="No Image provided"/>
                        </td>
                    }
                }
                
                @* only the Admin can edit and delete.  *@
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a class="button" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="button" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                
                @* Only customers can add to cart and not the Admin as it is not required for the admin *@
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Admin") == false)
                    {
                        <td class="right-alignment">
                            <button class="button button-cell" type="submit" asp-page-handler="Buy"
                                    asp-route-itemID="@item.Id">
                                Add to Cart
                            </button>
                        </td>
                    }
                }

            </tr>
        }

    </table>

</form>

@* code adapted from w3schools *@
<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementsByClassName("table")[0];
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

@* end of adapted code *@

