@page
@using roasted1.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model roasted1.Pages.Menus.IndexModel



@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h1 class="display-5">menu</h1>

<div>
    <img class="background" src="~/CoffeeImages/coffee8.jpg">
</div>

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin") == false)
    {
        <a class="button1" asp-page="/Checkout/Checkout">Proceed to Checkout</a>
    @* adding a button on the menu page to head to checkout page without going to the nav bar *@
        @* <script> *@
        @* function navigateToCheckout() { *@
        @*     window.location.href = "/Checkout/Checkout"; *@
        @* } *@
        @* </script> *@
        @* <!-- Your menu content --> *@
        @* <button class="button1" onclick="navigateToCheckout()"> Proceed to Checkout </button> *@
    }
}

@if (User.IsInRole("Admin"))
{
    <p>
        <a class="button1" asp-page="Create">Create New</a>
    </p>
}


<input class="search-bar" type="text" id="myInput" onkeyup="myFunction()" placeholder="search menu..">
<form method="post">
    

    <table class="table">

        <thead>

        <tr class="text-white">
            <th>Name</th>
            <th>Price</th>
            <th>Info</th>
            <th>Image</th>
            @if (User.Identity.IsAuthenticated)
            {
                <th class="right-alignment">Select Item to Add to Cart</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Menu)
        {

            <tr class="text-white">
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a class="button" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                </td>
                @{
                    try
                    {<td>
                         <img class="img" src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.ImageData))" alt="@item.ImageDescription"/>
                     </td>
                    }
                    catch
                    {
                        <td>
                            <img class="img" src="~/CoffeeImages/coffee6.jpg" alt="No Image provided"/>
                        </td>
                    }
                }



                @* the user can only edit.  *@
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a class="button" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="button" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Admin") == false)
                    {
                        <td class="right-alignment">
                            <button class="button button-cell" type="submit" asp-page-handler="Buy"
                                    asp-route-itemID="@item.Id">
                                Add to Cart
                            </button>


                        </td>
                    }
                }

            </tr>
        }

    </table>

</form>

<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementsByClassName("table")[0];
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>




