@page
@using roasted1.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model roasted1.Pages.Menus.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<h1 class="display-5">menu</h1>

<div>
    
    @* <img class = "background" src="~/CoffeeImages/coffee8.jpg"> *@
    <img class="background" src="~/CoffeeImages/coffee8.jpg">
</div>

@if (User.IsInRole("Admin"))
{
    <p>
        <a class="button1" asp-page="Create">Create New</a>
    </p>
    
}
@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin") == false)
    {
    @* adding a button on the menu page to head to checkout page without going to the nav bar *@
        <script>
              function navigateToCheckout() {
                window.location.href = "/checkout/checkout";
              }
            </script>
        <!-- Your menu content -->
        <button class="button1" onclick="navigateToCheckout()"> Proceed to Checkout </button>
    }
}




<form method="post">
    @* *@
    @* <div> *@
    @*   <input type="text" id="searchInput"> *@
    @*   <button onclick="search()">Search</button> *@
    @* </div> *@
    

    <table class="table">

        <thead>

        <tr class="text-white">
            <th>Name</th>
            <th>Price</th>
            <th>Info</th>
            <th>Image</th>
            @if (User.Identity.IsAuthenticated)
            {
                <th class="right-alignment">Select Item to Add to Cart</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Menu)
        {

            <tr class="text-white">
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a class="button" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                </td>
                    @{
                        try
                                        {
                                            <td>
                                                <img class="img" src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Menu.ImageData))"/>
                                            </td>
                                        }
                                        catch
                                        {
                                            <td>
                                                <img src="/Images/empty.png" alt="No Image provided"/>
                                            </td>
                                        
                                        }
                
                    
                }



                @* the user can only edit.  *@
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a class="button" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="button" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Admin") == false)
                    {
                        <td class="right-alignment">
                            <button class="button button-cell" type="submit" asp-page-handler="Buy"
                                    asp-route-itemID="@item.Id">
                                Add to Cart
                            </button>


                        </td>
                    }
                }

            </tr>
        }

    </table>


@*     <script> *@
@*       function search() { *@
@*         // Get the search input value *@
@*         var searchValue = document.getElementById("searchInput").value.toLowerCase(); *@
@*      *@
@*         // Get all the menu rows *@
@*         var menuRows = document.getElementsByClassName("menuRow"); *@
@*      *@
@*         // Loop through each menu row *@
@*         for (var i = 0; i < menuRows.length; i++) { *@
@*           var menuRow = menuRows[i]; *@
@*           var menuName = menuRow.getElementsByTagName("td")[0].textContent.toLowerCase(); *@
@*      *@
@*           // If the menu name doesn't match the search value, hide the row *@
@*           if (!menuName.includes(searchValue)) { *@
@*             menuRow.style.display = "none"; *@
@*           } else { *@
@*             menuRow.style.display = ""; *@
@*           } *@
@*         } *@
@*       } *@
@*     </script> *@

</form>



