@page
@model roasted1.Pages.Checkout.Checkout


@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

    <h1 class="display-5">checkout</h1>

<div>
    <img class = "background" src="~/CoffeeImages/coffee3.jpg">
  
</div>

<form method="post">
    <table class="table">
        <thead>
        <tr class="text-white">
            <th>Name</th>
            <th>Price</th>
            <th>Modify</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        </thead>
        <tbody class="text-white">
        @if (Model.Items.Count == 0)
        {
            <p class="msg">Your cart is empty!</p>
        }
        else
        {
            @foreach (var item in Model.Items)
            {
                var subtotal = item.Price * item.Quantity;
                <tr>
                    <td>@item.ItemName</td>
                    <td>@item.Price.ToString("C")</td>
                    <td>
                        <button class="button" type="submit" asp-page-handler="Increase" asp-route-itemId="@item.ID">+</button>
                        <button class="button" type="submit" asp-page-handler="DecreaseQuantity" asp-route-itemId="@item.ID">-</button>
                    </td>
                    <td>@item.Quantity</td>
                    <td>@subtotal.ToString("C")</td>
                </tr>
            }
        }
        </tbody>
    </table>

    @* the user will see the 'Buy' button only when they have something in their cart,
        and not when their cart is empty. This will not create confusion.  *@

    @if (Model.Items.Count > 0)
    {
        <button class="button1" type="submit" asp-page-handler="Buy">Buy</button>
    }
    


</form>

    @if (User.Identity.IsAuthenticated)
    {
        <a class="button2" asp-page="/Menus/Index"> Previous </a>
    }


@* <script> *@
    @* function navigateToMenu() { *@
    @*     window.location.href = "/Menus/Index"; *@
    @* } *@
    @* </script> *@
    @* <!-- Your menu content --> *@
    @* <button class="button2" onclick="navigateToMenu()"> Previous </button> *@

        


